include ../components/splide.pug

.loading Loading ...
+splide("slider",arr)
    if val.img 
        img(src= val.img, alt="")
    if val.video 
        video(src= val.video, width="100%", height="auto", controls muted autoplay, id= val.id)

    .text= val.text